.button {
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;

    &.main {
        background: $main;
        border: 1px solid $second;
        color: $light;

        &:hover {
            background: $second;
        }
    }

    &.light {
        background: transparent;
        color: $light;
        border: 1px solid $border;

        &:hover {
            background: #ffffff10;
        }
    }
}