* { box-sizing: border-box; }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: $light;
    font-size: 17px;
    font-family: var(--inter), sans-serif;
    background: linear-gradient(60deg, $dark, $main-dark);

    @include W(600px) {
        background: linear-gradient(50deg, $dark, $main-dark);
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    font-family: var(--inter);
    border: none;
    outline: none;
    transition: 200ms;
    cursor: pointer;
}

a {
    color: $main;
    font-family: var(--inter);
    text-decoration: none;
    transition: 200ms;
    cursor: pointer;

    &:hover {
        color: $second;
    }
}

input, textarea {
    font-family: var(--inter);
    outline: none;
    transition: 200ms;
    background: rgba(0, 0, 0, .4);
    border: 1px solid $light-50;
    color: $light;
    border-radius: 12px;
    font-size: 16px;
}

main {
    min-height: 100vh;
    padding: 110px 20px 20px 20px;
}

// Not Found page
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    padding: 10px;

    .idk {
        font-size: 100px;

        @include W(768px) {
            font-size: 20vw;
        }
    }

    span {
        display: block;
        color: $light-50;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
}

// Home Page
#home {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 10px 90px 10px;
        gap: 30px;

        > p {
            font-size: 20px;
            text-align: center;
            width: 60%;
        }

        h1 {
            text-align: center;
            font-size: 60px;

            span {
                font-size: 70px;
                display: block;
                background-image: -webkit-linear-gradient(#ff3d3d, #fd2542);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        @include W(600px) {
            h1 {
                &, span { font-size: 10vw; }
            }

            p {
                width: 100%;
            }
        }
    }

    .content {
        display: flex;

        @include W(685px) {
            flex-direction: column-reverse;
        }

        .facts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;

            @include W(1000px) {
                grid-template-columns: 1fr;
            }
        }

        .sidebar {
            position: sticky;
            top: 110px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            height: 100%;
            width: 500px;
            padding: 0 0 0 20px;

            @include W(1200px) {
                width: 300px;
            }

            @include W(685px) {
                width: 100%;
                position: relative;
                top: 0;
                padding: 0;
                margin-bottom: 25px;
            }

            > div {
                height: fit-content;
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.04);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5.8px);
                -webkit-backdrop-filter: blur(5.8px);
                border: 1px solid rgba(255, 255, 255, 0.86);

                p {
                    font-size: 18px;
                    margin-bottom: 30px;

                    &:last-child { margin-bottom: 0; }
                }

                &.stats {
                    h4 {
                        font-weight: 500;
                        font-size: 17px;
                        color: #e4e4e4;
                    }

                    p {
                        font-size: 30px;
                        font-weight: 500;
                        color: $light;
                    }

                    @include W(685px) {
                        text-align: center;
                    }
                }

                &.social {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        text-align: center;

                        span {
                            color: $main;
                        }
                    }

                    svg {
                        font-size: 50px;
                        color: white;
                    }
                }
            }
        }
    }
}

::selection {
    background: $main-10;
}

// Scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: $light-dark;
}
::-webkit-scrollbar-thumb {
    background: $main;
}
::-webkit-scrollbar-thumb:hover {
    background: $second;
}