$main: #00D680;
$second: #05633E;
$main-10: #00d68031;
$light-main: #1ded9a;

$lighter-dark: #1e201f;
$light-dark: #111512;
$dark: #0C100D;
$darker: #0D0D0D;

$light: #F8F8F8;
$light-50: #f8f8f87c;

$border: #3939396e;

$gold: #f59f00