$main: #f30e2c;
$second: #ff5454;
$main-10: #f30e2c31;
$main-dark: #2b0107;
$light-main: #fa4040;

$lighter-dark: #201e1e;
$light-dark: #151111;
$dark: #100c0c;
$darker: #0D0D0D;

$light: #F8F8F8;
$light-50: #f8f8f87c;

$border: #3939396e;

$gold: #f59f00