header {
    position: fixed;
    width: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid $light-main;

    .links {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 40px;
        gap: 40px;

        a {
            color: $light-50;
            transition: 100ms;
            font-size: 17px;

            &:hover {
                color: $light;
            }

            &:last-child {
                color: $gold;
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .mobile {
        display: none;
        position: relative;

        .dropdown {
            right: 10px;
            width: 150px;

            .item {
                padding: 0;

                a {
                    padding: 10px;
                }
            }
        }
    }

    .dropdown {
        .item {
            padding: 0 !important;

            > a, button {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 10px;
                width: 100%;
            }
        }
    }

    .header-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
        transition: 200ms;
        border-radius: 10px;

        .address {
            font-size: 18px;
            font-weight: 500;
            color: $light;
        }

        .pfp {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }

    @include W(1000px) {
        justify-content: space-between;

        .actions, .links { display: none; }

        .mobile {
            display: flex;
        }
    }
}