.wallet-list-container {
    display: flex;
    flex-direction: column;

    > .wallet-adapter {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        color: $light;
        transition: 200ms;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }

        span.name {
            display: block;
            margin-right: 30px;
            font-weight: 500;
        }

        span.status {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            color: $second;
            font-weight: 500;
        }

        img {
            border-radius: 10px;
        }
    }
}