footer {
    @include glass;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-top: 1px solid $light-main;
    text-align: center;
}